{% extends "base.html.twig" %}

{% block body %}

    {% for file in data.files %}
        <h2>{{ file.object.className }}</h2>
        <table class="table">
            <tr>
                <th>Collected at</th>
                <td>{{ file.collectedAt|date }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ file.source }}</td>
            </tr>
            <tr>
                <th>Groups</th>
                <td>
                    {% for group in file.groups %}
                        <p>{{ group.id }}</p>
                        <ul>
                        {% for condition in group.conditions %}
                            <li>Condition: {{ condition.type }}</li>
                        {% endfor %}
                        </ul>
                        <p>Records</p>
                        <ul>
                        {% for record in group.records %}
                            <li>{{ record.fieldname }}: {{ record.value }}</li>
                        {% endfor %}
                        </ul>
                    {% endfor %}

                </td>
            </tr>
        </table>
    {% endfor %}

{% endblock %}