<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img src="{{ asset('q-one-logo.png') }}" height="30"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('admin_index') }}">Customers</a>
                            </li>
                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('app_customer') }}">My data</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span class="navbar-text">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            ({% if is_granted('ROLE_ADMIN') %}Admin{% else %}Customer{% endif %})
                        </span>
                        &nbsp;&nbsp;
                        <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        &nbsp;&nbsp;
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-info">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
            </nav>

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block fos_user_content %}{% endblock %}
            {% block body %}{% endblock %}

            <footer class="float-right">
                <small>&copy; 2019 Q.One Technologies GmbH</small>
            </footer>

            {% block javascripts %}
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            {% endblock %}
        </div>
    </body>
</html>
